<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.databases.example"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.FinanceApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchMain" />

        <receiver android:name=".data.PlanReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".app.MainActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.PatternRetrievalActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            /
        </activity>
        <activity
            android:name=".app.CheckbookActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".app.PlansActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".app.BackupActivity"
            android:label="@string/app_name">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.databases.example.app.SettingsActivity" />-->
        </activity>
        <activity
            android:name=".app.CategoriesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".app.LinksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".app.SearchActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".data.MyContentProvider"
            android:authorities="com.databases.example.provider"
            android:exported="false"
            android:multiprocess="true" />

        <!-- IMPORTANT Generate your own Fabric Key if you want crash reporting -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/fabric_key" />

        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>